.price-item{
    background-color: #3F87F5;
    border-radius: 30px;
    box-shadow: 0px 0px 0px 10px #3F87F5;
    margin-bottom: 20px;
}

.price-item h2{
    color: #FFFFFF;
}

.price-item h5{
    color: #FFFFFF;
}
.price-item p{
    color: #FFFFFF;
}
.price-item ul{
    color: #FFFFFF;
}
.price-item ul li{
    list-style: none;
    color: #FFFFFF;
}
.price-item ul li a{
    color: azure;
}
.price-item .btn{
    background-color: #FFFFFF;

}
